@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.play__music {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: fixed;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 200ms;
  /* z-index: 2; */
}

.play__music:hover {
  box-shadow: 1px 1px 10px #fff;
}
.play__music .music__round {
  width: 60%;
  height: 60%;
  border: 1px solid #fff;
  border-radius: 50%;
  /* background-color: rgba(255, 255, 255, 0.2); */
}
.first__date {
  left: 10px;
}

.eva {
  right: 10px;
}

/* !social */
.social__media {
  position: fixed;
  width: 60px;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 10px;
  right: 10px;
  top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* overflow: hidden; */
}
.social__icon {
  /* fill: #fff; */
  stroke: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 220ms;
  fill: transparent;
}
.social__icon:hover {
  fill: #fff;
  /* stroke: #000000; */
}

.social__icon .gmail {
  position: relative;
}

.gmail__text {
  position: relative;
}

.gmail__text::after {
  content: "erachynybaev@gmail.com";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -340px;

  width: 300px;
  background-color: transparent;
  z-index: 22;

  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  opacity: 0;
  transition: 200ms ease;
}

.gmail__text:hover::after {
  right: 55px;
  opacity: 1;
}
/* sections */
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgb(39, 36, 36);
  background-image: url("../assets/images/eva4.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.sections {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.first__section {
  width: 100%;
  height: 100%;
  display: flex;
}
.section__close {
  display: none;
}

.first__section .sun {
  width: 120px;
  height: 120px;
  border: 1px solid rgb(255, 255, 255);
  position: absolute;
  z-index: 3;
  left: calc(50% - 60px);
  top: -123px;
  animation-name: sunrise;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  overflow: hidden;
}

.first__section .sun .red {
  position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
  /* bottom: 0; */
  background-color: red;
  border-radius: 50%;
  animation-name: redsun;
  animation-delay: 6s;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes redsun {
  0% {
    top: 100%;
    bottom: -100%;
  }
  100% {
    top: 0;
    bottom: 0;
  }
}

@keyframes sunrise {
  0% {
    top: -130px;
  }
  100% {
    top: calc(50% - 60px);
    border-radius: 50%;
    background-color: rgb(255, 255, 0);
    box-shadow: 1px -1px 100px rgb(255, 255, 0), 1px -1px 200px rgb(255, 255, 0),
      1px -1px 400px rgb(255, 255, 0);
  }
}

.first__section .left__side,
.first__section .right__side {
  width: 50%;
  height: 100%;
  background-color: rgb(39, 6, 82);
}
.closed .left__side {
  transform: translate(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.first__section .left__side .left__card {
  width: 400px;
  height: 500px;
  border: 3px solid #fff;
  /* animation-name: redBorder;
  animation-duration: 2s;
  animation-delay: 11s;
  animation-fill-mode: forwards; */
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.round__mouse {
  position: absolute;
  top: -100%;
  width: 100px;
  height: 100px;
  border: 2px solid yellow;
  border-radius: 50%;
  box-shadow: 10px -10px 100px black, 10px -10px 200px black,
    10px -10px 300px black, 10px -10px 600px black, 10px -10px 1000px black;
}

/* .left__card:hover .black__fon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
} */
.left__side .left__card .card__image {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.left__card .card__image img {
  max-width: 100%;
  display: block;
}

.first__section .left__side .left__card .card__image::after {
  content: "";
  position: absolute;
  top: -100%;
  bottom: 100%;
  left: 0;
  right: 0;
  animation-name: redImage;
  animation-duration: 1s;
  animation-delay: 12s;
  animation-fill-mode: forwards;
  background-color: rgba(124, 5, 5, 0.2);
  z-index: 2;
}

@keyframes redImage {
  0% {
    top: -100%;
    bottom: 100%;
  }
  100% {
    top: 0;
    bottom: 0;
  }
}

@keyframes redBorder {
  0% {
    border: 3px solid #fff;
  }
  100% {
    border: 3px solid rgba(160, 0, 0, 2);
  }
}

@keyframes whiteBorder {
  0% {
    border: 3px solid red;
  }
  100% {
    border: 3px solid #fff;
  }
}

.left__card .about {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  color: rgb(255, 255, 255);
  height: auto;
  padding: 20px 0px;
  /* -webkit-text-stroke: 1px rgb(255, 255, 255); */
  font-size: 35px;
}

.about p span {
  font-size: 40px;
  color: rgb(255, 255, 0);
}

.about p span:hover {
  transform: scale(2);
}

.closed .right__side {
  transform: translate(100%);
}

.first__section .left__side {
  animation-name: closeLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.first__section .right__side {
  animation-name: closeRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes closeLeft {
  0% {
    transform: translate(-100%);
  }
  80% {
    transform: translate(0%);
  }
  90% {
    transform: translate(-10%);
  }
  100% {
    transform: translate(0%);
  }
}
@keyframes closeRight {
  0% {
    transform: translate(100%);
  }
  80% {
    transform: translate(0%);
  }
  90% {
    transform: translate(10%);
  }
  100% {
    transform: translate(0%);
  }
}

/* second secction */
.second__section {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.second__section .section__top,
.second__section .section__bottom {
  max-width: 100%;
  height: 50%;
  background-color: rgb(98, 3, 82);
}

/* .closed .section__top {
  transform: translateY(-100%);
}
.closed .section__bottom {
  transform: translateY(100%);
} */

.second__section .section__top {
  animation-name: closeTop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.section__top .top__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.top__info h2 {
  font-size: 5rem;
  font-weight: 900;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

.top__info .hobbies {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* border: 1px solid red; */
  position: relative;
}

.hobbies .hobby {
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: all 200ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  font-weight: 500;
  background-color: rgb(98, 3, 100);
}
.hobbies .active {
  pointer-events: none;
  opacity: 0.5;
}
.hobbies .hobby:hover {
  background-color: #fff;
  color: rgb(0, 0, 0);
  box-shadow: 1px 1px 20px #fff;
}

.second__section .section__bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 50px;
  flex-wrap: wrap;
}
.second__section .section__bottom {
  animation-name: closeBottom;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  background-color: rgb(0, 0, 0);
}

.section__bottom .list__element {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 30px #fff;
  top: 1000px;
  border-radius: 20px;
  cursor: pointer;
}

.second__section .section__bottom .list__element__up {
  animation-name: showHobby;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

@keyframes showHobby {
  0% {
    opacity: 0;
    top: 1000px;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.section__bottom .list__element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section__bottom .list__element span {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  color: #fff;
  opacity: 0;
  transition: all 200ms ease;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

.section__bottom .list__element:hover span {
  opacity: 1;
}

@keyframes closeTop {
  0% {
    transform: translate(-100%);
  }
  80% {
    transform: translate(0%);
  }
  90% {
    transform: translate(-10%);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes closeBottom {
  0% {
    transform: translate(100%);
  }
  80% {
    transform: translate(0%);
  }
  90% {
    transform: translate(10%);
  }
  100% {
    transform: translate(0%);
  }
}

/* third section */
.third__section {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #fff;
}

/* fourth section */
.fourth__section {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-color: red;
}
